<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Błąd</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h2 class="text-center">Błąd wyszukiwania. Proszę wprowadzić poprawną nazwę miasta</h2>
<div class="navbar fixed-bottom left">
<a href="/" class="btn btn-info align-self-end"><span class="glyphicon glyphicon-chevron-left"></span> Powrót</a>
</div>
</body>
</html>