<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pogoda w weekend</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="inner cover">
    <h1 class="cover-heading text-center">Pogoda</h1>
    <p class="lead text-center">Zaplanuj odpoczynek sprawdzając pogodę w najbliższy weekend bądź długi weekend dla wybranego miasta.</p>
    <p class="lead text-center">
    <form action="/" method="post" class="text-center">
        Podaj nazwę miasta <input type="text" name="city">
        <input type="submit" value="i sprawdź">
    </form>
    </p>
</div>
</body>
</html>